WS_Demo/web/WEB-INF/wsit-com.akshatkhanna.javawebservices.CalculatorWebService.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CalculatorWebService" targetNamespace="http://javawebservices.akshatkhanna.com/" xmlns:tns="http://javawebservices.akshatkhanna.com/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" 
 >
    <message name="add"/>
    <message name="addResponse"/>
    <message name="subtract"/>
    <message name="subtractResponse"/>
    <message name="muliply"/>
    <message name="muliplyResponse"/>
    <message name="divide"/>
    <message name="divideResponse"/>
    <portType name="CalculatorWebService">
        <operation name="add">
            <input message="tns:add"/>
            <output message="tns:addResponse"/>
        </operation>
        <operation name="subtract">
            <input message="tns:subtract"/>
            <output message="tns:subtractResponse"/>
        </operation>
        <operation name="muliply">
            <input message="tns:muliply"/>
            <output message="tns:muliplyResponse"/>
        </operation>
        <operation name="divide">
            <input message="tns:divide"/>
            <output message="tns:divideResponse"/>
        </operation>
    </portType>
    <binding name="CalculatorWebServicePortBinding" type="tns:CalculatorWebService">
        <operation name="add">
            <input/>
            <output/>
        </operation>
        <operation name="subtract">
            <input/>
            <output/>
        </operation>
        <operation name="muliply">
            <input/>
            <output/>
        </operation>
        <operation name="divide">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="CalculatorWebService">
        <port name="CalculatorWebServicePort" binding="tns:CalculatorWebServicePortBinding"/>
    </service>
</definitions>
